.navbarzinha{
  background-color: #ef5350 !important;
}



.App{
  padding-top: 4rem;
  min-height: 100%; 
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
 

}